html {
	font-size: 16px;
	font-family: "Lato",arial,sans-serif;
	font-weight: ;
	color:gray;
}

h1, h2, h3 {
	font-weight: 300;
}

h2 {
	font-size: 5em;
	padding-top: 3.5rem;
	padding-bottom: 4rem;
	letter-spacing: 0.1rem;
	color: gray;
	text-align: center;
}


 h3 {
	margin: 2rem 0;
	font-size: 4.5rem;
}


p, label, a {
	font-size: 2rem;
	padding: 1.5rem 0;
}

hr {
	width:240px;
	display: block;
	margin: 0 auto;
	border:4px solid #CF6D17;

}

i {
	margin-right: 2.5rem;
}

.fa {
	color: #CF6D17;
}

.fa-bars {
	display: none;
}

#background {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/hero.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

#head-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin:0 auto;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

nav li {
	display: inline-block;
	padding-left: 40px;
}

#head img {
	width: 15rem;
	height: auto;
	margin-top: 3.3rem;
}

#head i {
	color: white;
}

.sticky {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .logo { display: none; }
.sticky .logo-black { display: block; }


#main h1 {
	margin-top: 25%;
	font-size: 5.5rem;
	color: white;
	line-height: 1.2;
	font-weight: 300;
}

#button-1, #button-2 {
	display: inline-block;
	text-decoration: none;
	font-size: 3rem;
	margin-top:3rem;
	margin-right: 3rem;
	padding: 2rem 3.5rem;
	background:transparent;
	border: 2px solid #CF6D17;
	border-radius: 6.5rem;
	color: white;
	transition: all 300ms ease;
}

#button-2:hover {
	background-color: #CF6D17;
}

#button-1:hover {
	background-color: #cd6d00;
}

#button-1 {
	background-color: #CF6D17;
}

.container {
	width: 90%;
	margin:0 auto;
}

#herobox {
	position: absolute;
	top: 20%;
	left:8%;
}

.meals-showcase {
	width: 100%;
	list-style: none;
}

.meals-showcase li {
	display: block;
	float: left;
	width: 25%;
}

.meal-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.meal-photo img {
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.flex {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding-bottom: 5rem;
}


.steps {
	display: flex;	
	justify-content: space-around;
	align-items: center;
}

.steps p{
	width: 70%;
	line-height: 4rem;
	}

.number {
	width: 4%;
	padding:1.5rem;
	border:4px solid #CF6D17;
	border-radius: 100%;
	margin-right: 4rem;
	text-align: center;
	color: #CF6D17;
	font-size: 200%;
}

.store {
	display: block;
	height: 7rem;
	width: auto;
	margin-left: 1rem;
}

.city {
	margin-top: 4rem;

}


#reviews {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/back-customers.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	
}

#reviews h2, #reviews p {
	color:white;
	line-height: 4rem;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
	margin-right: 4%;
}
}

.column {
	padding-bottom: 8%;
}

.column span{
	font-size: 4rem;
	color: #CF6D17;
}

.column a {
	text-decoration: none;
	color:white;
	background-color: #CF6D17;
	padding:1rem 5.5rem;
	border-radius: 6.5rem;
	margin-top: 4rem;
	display: inline-block;
}

#button {
	text-align: center;
}

form {
	margin-top: 2rem;
	display: flex;
}

footer {
	background-color: #333;
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-steps { margin-bottom: 40px; }
    .works-step:last-of-type { margin-bottom: 60px; }
    
    .app-screen { width: 50%; }
    
    .icon-small { 
        width: 17px;
        margin-right: 5px;
    }
    
    .city-feature { font-size: 90%; }
    
    .plan-box {
        width: 100%;
        margin-left: 0%;
    }
    
    .plan-price { font-size: 250%; }
    .contact-form { width: 80%; }
}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    
    .main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    
    
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
    
    .app-screen { width: 40%; }
    .steps-box:first-child { text-align: center; }
    
    .works-step div {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    
    .works-step { margin-bottom: 20px; }
    .works-step:last-of-type { margin-bottom: 20px; }
    
}


